.pincode-outer {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 128, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .form-box {
        width: 90%;
        background: #fff;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .input {
            width: 230px;
            letter-spacing: 10px;
            &::placeholder {
                color: #ccc;
            }
        }
    }
}