<ion-toolbar>
  <div class="topbar">
    <div>Shop Detail</div>
    <div class="search-icon-outer">
      <input type="checkbox" id="searchbar" />
      <div class="search-icon">
        <label for="searchbar">
          <img src="../../assets/img/searchicon.png" alt="searchicon" height="15px" width="15px">
        </label>
      </div>
    </div>
  </div>
</ion-toolbar>

<ion-content>
  <div class="shopdetail-home-page">
    <div class="upper">
      <div class="shopbackground" [style.backgroundImage]="'url(' + shopBg +')'">
        <div class="shop-address-outer">
          <div class="shop-address">
            Vishal Mega Mart<br>
            <p>SCO, Phase 5, Mohali</p>
          </div>
        </div>
      </div>

      <p style="padding:15px 0 0 10px">Products</p>

      <div class="product-list-outer">

        <div class="product-list">

          <div class="product-image">
            
          </div>
          <div class="product-name">
            Maggi Meri Masala<br>
            <p class="price">$ 25</p>
          </div>
          <div class="product-arrow-outer">
            <div class="product-arrow">
              <img src="../../assets/img/arrowleft.png" alt="arrow" height="13px" width="13px">
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="product-image">
            
          </div>
          <div class="product-name">
            Maggi Meri Masala<br>
            <p class="price">$ 25</p>
          </div>
          <div class="product-arrow-outer">
            <div class="product-arrow">
              <img src="../../assets/img/arrowleft.png" alt="arrow" height="13px" width="13px">
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="product-image">
            
          </div>
          <div class="product-name">
            Maggi Meri Masala<br>
            <p class="price">$ 25</p>
          </div>
          <div class="product-arrow-outer">
            <div class="product-arrow">
              <img src="../../assets/img/arrowleft.png" alt="arrow" height="13px" width="13px">
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="product-image">
            
          </div>
          <div class="product-name">
            Maggi Meri Masala<br>
            <p class="price">$ 25</p>
          </div>
          <div class="product-arrow-outer">
            <div class="product-arrow">
              <img src="../../assets/img/arrowleft.png" alt="arrow" height="13px" width="13px">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>