<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Change Pincode</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="form-box form-group">
        <label class="text-center">Please Enter Your Pincode</label>
        <input name="pincode" class="input form-control text-center" type="tel" [(ngModel)]="pincode" (keydown)="onlynumber($event)" placeholder="111111" />
        <button type="submit" class="text-center mt-3 signup-btn btn btn-default btn-lg" (click)="save()">Submit</button>
    </div>
</ion-content>