<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
</ion-toolbar>
<ion-content>
    <div class="input-group">
        <div class="profilepic" (click)="click_Image()">
            <div class="pic" *ngIf="app.state.user.user_photo_url == '' || app.state.user.user_photo_url == null">
                <img class="user" src="../../../assets/icon/dummy-user.jpg" alt="">
                <div class="pencil">
                    <ion-icon name="camera-outline"></ion-icon>
                </div>
            </div>
            <div class="pic" *ngIf="app.state.user.user_photo_url != '' && app.state.user.user_photo_url != null">
                <img class="user" [src]="userPic(app.state.user.user_photo_url)" alt="">
                <div class="pencil">
                    <ion-icon name="camera-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <form class="personalForm" [formGroup]="profileform">
        <ion-item lines="none">
            <ion-label position="floating">Enter Full Name</ion-label>
            <ion-input formControlName="name" style="text-transform: capitalize;"></ion-input>
            <ion-icon class="inputfields" slot="start" name="phone-portrait"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Email Address</ion-label>
            <ion-input formControlName="primary_email" style="text-transform: lowercase;"></ion-input>
            <ion-icon class="inputfields" name="mail" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input class="item" formControlName="number" readonly></ion-input>
            <ion-icon class="inputfields" slot="start" name="person"></ion-icon>
        </ion-item>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit " class="text-center signup-btn btn btn-default btn-lg" (click)="save()">Save</button>
        </div>
    </form>