<!-- Default Refresher -->
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="50" pullMax="100">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-slides pager="false" [options]="categoryOpts" *ngIf="categoriesMenu.length > 1" class="swipe-category">
        <ion-slide *ngFor="let category of categoriesMenu">
            <div class="wrap-img-name">
                <img src="{{restApi.domain}}{{category.category_img_url}}" (click)="gotoCat(category)" title="{{category.name}}" alt="{{category.name}}" />
                <label>{{category.name}}</label>
            </div>
        </ion-slide>
    </ion-slides>
    
    <ng-container *ngFor="let homeCategoryProduct of homeCategories">
        <ion-grid class="organic-farming" *ngIf="homeCategoryProduct?.productsHome && homeCategoryProduct?.productsHome.length > 0">
            <ion-row>
                <ion-col class="product-slides-wrapper">
                    <ion-title>{{homeCategoryProduct.name}}</ion-title>
                    <ion-slides pager="false" [options]="productOpts" #slides>
                        <ion-slide *ngFor="let product of homeCategoryProduct.productsHome">
                            <div class="product-names-outer">
                                <div class="product-names">
                                    <div class="image-outer-box" (click)="productDetail(product)">
                                        <div class="image-box">
                                            <img src="{{restApi.domain}}{{product.image_url}}">
                                        </div>
                                    </div>
                                    <h4 class="product-name" (click)="productDetail(product)">{{product.title}}</h4>
                                    <p (click)="productDetail(product)" class="shop-address" *ngIf="product.categories && product.categories.length > 0"><span class="category">{{product.categories[0].name}}</span>
                                    </p>
                                    <div class="product-price-outer">
                                        <div class="product-price" (click)="productDetail(product)">
                                            Rs <b>{{productPrice(product) * product.display_qty}}</b>&nbsp; <s *ngIf="product.regular_price != '' && productPrice(product) != product.regular_price">Rs {{product.regular_price * product.display_qty}}</s>
                                        </div>
                                        <app-heart [product]="product" [size]="'small'"></app-heart>
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                    <ion-button (click)="slides.slidePrev()" class="prev"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
                    <ion-button (click)="slides.slideNext()" class="next"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
    <!-- <ion-item *ngIf="(products == null || products.length == 0) && fetchingProducts == false">No products found</ion-item>    -->
</ion-content>